table{min-width:60%}th,td{padding-top:.25rem;padding-bottom:.25rem}.main-content{background-color:var(--global-background-color);color:var(--global-color);border-radius:1rem;padding:.5rem 1rem;box-shadow:0 10px 15px -3px rgba(0,0,0,.1019607843),0 4px 6px -4px rgba(0,0,0,.1019607843);width:98%}@media screen and (min-width: 768px){.main-content{width:95%}}@media only screen and (min-width: 1280px){.main-content{width:90%}}.content-mt{width:100%}.content-mt p{margin-top:.5rem}footer{--footer-background-color: var(--global-background-color);--footer-link-hover-color: #2e7d32}
